<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>112642317910-51gtue677d6pud00d5uekf92ga9dja3p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.112642317910-51gtue677d6pud00d5uekf92ga9dja3p</string>
	<key>API_KEY</key>
	<string>AIzaSyBiXJGUtPZUR8EdqcukwAC_S3yFxXvGo9s</string>
	<key>GCM_SENDER_ID</key>
	<string>112642317910</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ponno.FirebaseIntegrateWithApp</string>
	<key>PROJECT_ID</key>
	<string>fir-practiceproject-f5aac</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-practiceproject-f5aac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:112642317910:ios:6e37b18940b77cad3a65f7</string>
	<key>DATABASE_URL</key>
	<string>https://fir-practiceproject-f5aac.firebaseio.com</string>
</dict>
</plist>